networks:
  monitoring:
    driver: bridge

services:
  # 1. LOKI (Gudang Log)
  loki:
    image: grafana/loki:2.9.2
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    networks:
      - monitoring

  # 2. PROMETHEUS (Pengumpul MetriK)
  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring

  # 3. PROMTAIL (Pengirim Log ke LOKI)
  promtail:
    image: grafana/promtail:2.9.2
    volumes:
      - ./promtail-config.yaml:/etc/promtail/config.yml:ro
      - ./logs:/var/log
    command: -config.file=/etc/promtail/config.yml
    networks:
      - monitoring
  # 4. GRAFANA (Dashboard Visualisasi)
  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitoring