global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'mindsync-online-server'
    metrics_path: '/actuator/prometheus'
    static_configs:
      - targets: ['188.166.233.241:80']