name: CI/CD Pipeline to Droplet

on:
  push:
    branches:
      - main

env:
  REPO_NAME: mindsync-backend

jobs:
  # ----------------------------------------------------------------------
  # JOB 1: Build, Tag, and Push Docker Image
  # ----------------------------------------------------------------------
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Extract Version from POM
        id: get_version
        run: echo "VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ env.REPO_NAME }}:${{ steps.get_version.outputs.VERSION }}, ${{ secrets.DOCKER_USERNAME }}/${{ env.REPO_NAME }}:latest
          file: ./Dockerfile

    outputs:
      image_tag: ${{ steps.get_version.outputs.VERSION }}

  # ----------------------------------------------------------------------
  # JOB 2: Deploy to DigitalOcean Droplet
  # Depends on the successful completion of the build-and-push job
  # ----------------------------------------------------------------------
  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
      - name: Deploy to DigitalOcean Droplet
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DO_HOST }}
          username: root
          password: ${{ secrets.DO_PASSWORD }}
          script: |
            echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

            IMAGE_NAME=${{ secrets.DOCKER_USERNAME }}/${{ env.REPO_NAME }}
            IMAGE_TAG=${{ needs.build-and-push.outputs.image_tag }}

            docker pull $IMAGE_NAME:$IMAGE_TAG

            if docker ps -a | grep ${{ env.REPO_NAME }}; then
              docker stop ${{ env.REPO_NAME }}
              docker rm ${{ env.REPO_NAME }}
            fi

            docker run -d \
              -p 80:8080 \
              --name ${{ env.REPO_NAME }} \
              --restart always \
              $IMAGE_NAME:$IMAGE_TAG

            docker image prune -f
